*{
	padding: 0;
	margin: 0
}
body{
	min-width: 1100px;
	background: #f0eeee;
	font-family: Microsoft Yahei;
	height: 100%;
	color: #555;
}
ul{
	list-style: none;
}
a{
	color: #777;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	outline: none;
	transition: 
		all .25s linear;
}
a.link{
	color: #4bb2fc;
    transition: all .25s linear;
}
a:hover.link{
	color: #4bb2fc;
}
.agree{
	font-size: 12px
}
a.under,.red{
	color: #fb5358
}
a:hover.under{
	color: #fb5358;
	text-decoration: underline;
}
i{
	font-style: normal;
}
input{
	font-family: 'Microsoft Yahei';
	margin: 0;
	outline: none
}
a:hover{
	color: #555;
}
img{
	border: none;
}
h2{
	display: inline;
	font-size: 22px;
	font-weight: normal;
}
button{
	font-family: Microsoft Yahei
}
button:focus{
	outline: none
}
.clr{
	clear: both;
}
.fr{
	float: right;
}
.fl{
	float: left;
}
.ml5{
	margin-left: 5px;
}
.row{
	margin: 10px 0;
}
.short{
	width: 120px;
	float: left;
	margin-right: 10px;
}
.short ul{
	width: 120px;
}
.long{
	width: 156px;
	float: left;
	margin-right: 5px;
}
.mt20{
	margin-top: 20px;
}
.f22{font-size: 22px}
.f18{font-size: 18px}
.f16{font-size: 16px}
.f14{font-size: 14px}
.f13{font-size: 13px}
.f12{font-size: 12px}
button{color: #888;}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
    color:    #bbb;
}
input:-moz-placeholder, textarea:-moz-placeholder { 
    color:    #bbb;
}
input::-moz-placeholder, textarea::-moz-placeholder { 
    color:    #bbb;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
    color:    #bbb;
}
/******选择框********/
.choose{
	overflow: hidden;
}
.pwholder{
	position: relative;
}
.pwholder .pwtext{
	display: none;
	position: absolute;
	top: 11px;
	left: 13px;
	font-size: 15px;
	color: #bbb;
}
/*textbox */
.form-control {
  	border:  1px solid #e2e2e2;
  	color: #555;
	box-shadow: inset 1px 1px 3px #f5f5f5;
	font-size: 15px;
	background-color: #fff;
	line-height: 1.467;
	padding: 10px;
	height: 20px;
	-webkit-appearance: none;
	border-radius: 2px;
	-webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
	transition: border .25s linear, color .25s linear, background-color .25s linear;
} 
.form-control:focus {
  border-color: #faa3a5;
  outline: 0;
  box-shadow: 0 0 5px #faa3a5;
}
.placeholder{
	color: #bbb;
}
.btn{
	display: block;
	border: none;
	font-weight: normal;
	vertical-align: middle;
	border-radius: 2px;
	cursor: pointer;
	-webkit-font-smoothing: subpixel-antialiased;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	transition: border .25s linear, color .25s linear, background-color .25s linear;
}
.submit{
	width: 100%;
}
.btn-red{
	color: #fff;
	background: #eb282e;
}
.btn-red:hover{
	color: #fff;
	background: #fb4853;
}
.btn-red:active{
	background: #df262c;
	transition: background-color .1s linear;
}
.btn-red img{
	vertical-align: middle;
}
.btn-inline{
	display: inline-block;
}
/***灰按钮***/
.gray{
	border: 1px #e2e2e2 solid;
	background: url(/Theme/Public/images/gray.jpg) repeat-x;
}
.gray:hover{
	color: #555;
}
.gray:active{
	color: #555;
	background: #eee;
}
/***中按钮***/
.btn-normal{
	font-size: 18px;
	height: 42px;
	padding: 0 20px;
	line-height: 40px;
}
/***下拉框*****/
.dropdown{
	position: relative;
}
.select{
	display: block;
	position: relative;
	height: 36px;
	border: 1px #e2e2e2 solid;
	line-height: 36px;
	border-radius: 2px;
	text-align: left;
	text-indent: 10px;
	font-size: 14px;
}
.select:active{
	background: #fff;
}
a.select:after,a.select after{
	content: url(/Theme/Public/images/arrow-down.png);
	position: absolute;
	right: 12px;
	top: -3px;
}
.dropdown ul{
	display: none;
	position: absolute;
	top: 39px;
	left: 0;
	width: 100%;
	text-indent: 10px;
	background: #fff;
	border: 1px #e2e2e2 solid;
	z-index: 9;
	border-radius: 2px;
	max-height: 246px;
	overflow-y: auto;
	box-sizing: border-box;
}
.short ul{
	width: 118px;
}
.dropdown ul li a{
	display: block;
	text-align: left;
	padding: 6px 0;
}
.dropdown ul li a:hover{
	background: #f3f3f3;
}
.choose_box_holder{
	position: relative;
}
.choose_box{
    display: none;
    position: absolute;
    width: 460px;
    top: 46px;
    left: auto;
    z-index: 999;
    background: #fff;
    border: 1px #e2e2e2 solid;
    color: #888;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
    font-size: 16px;
}
.choose_box_tab{
	display: table;
	width: 100%;
	height: 36px;
    background-color: #f7fafa;
}
.choose_box_tab li{
	display: table-cell;
	width: 1%;
	line-height: 36px;
 	cursor: pointer;
 	text-align: center;
    border-bottom: 1px #e2e2e2 solid;
}
.choose_box_list li{
	display: none;
    float: left;
 	margin: 8px 12px;
 	cursor: pointer;
}
.choose_box_list li.in{
	display: block;
}
.choose_box_tab li.in{
    position: relative;
    background-color: #fff;
    color: #eb282e;
    border-bottom: none;
}
.choose_box_tab li.in:before,
.choose_box_tab li.in:after{
    content: "";
    position: absolute;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #e2e2e2;
}
.choose_box_tab li.in:before{
    left: -1px;
}
.choose_box_tab li.in:after{
    right: -1px;
}
.choose_box_list{
	min-height: 88px;
    padding: 10px;
    overflow: hidden;
 }
 #choose_city li{
 	width: 6em;
 	padding: 0;
 }
.choose_box_tab li.choose_hot_brand{
	width: 2%;
}
.img-btn{
	padding: 8px 0;
}
/***************top******************/
.top_full{
	width: 100%;
	background: #eb282e;
}
.top{
	width: 1100px;
	height: 68px;
	margin: 0 auto;
}

.top_left{
	width: 260px;
	height: 68px;
	float: left;
}
.beta{
	position: absolute;
	top: 15px;
	left: 2px;
}
.logo{
	display: block;
	width: 138px;
	height: 68px;
	float: left;
}
.top_city{
	position: relative;
	padding-top: 30px;
	height: 38px;
	float: left;
}
#city{
	color: #fff;
	font-size: 14px;
}
.nav{
	height: 68px;
	display: block;
	float: right;
	margin-right: 20px;
}
.nav ul li{
	display: block;
	float: left;
}
.nav ul li > a{
	display: block;
	min-width: 64px;
	height: 68px;
	padding: 0 16px;
	line-height: 68px;
	font-size: 15px;
	color: #fff;
	position: relative;
}
.nav ul li a.in,
.nav ul li > a:hover,
.after:hover{
	background: #d9252a;
}
.hot_icon{
	position: absolute;
	top: 12px;
	left: 70px;
	width: 25px;
	height: 16px;
	background: url(/Theme/Public/images/hot.png) no-repeat;
	z-index: 10
}
.login-mask{
	z-index: 97;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.5;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	display: none;
}
.login,
.register,
.voucher_box{
	z-index: 98;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 340px;
	height: 300px;
	margin: -150px 0 0 -170px;
	background-color: #f7f2f2;
	display: none;
}
.login-title{
	padding-left: 36px;
	position: relative;
	height: 36px;
	line-height: 36px;
}
.login-title .close,
.alert_title .close{
	float: right;
	width: 36px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	color: #eb282e;
	font: bold 26px/36px simsun;
}
.login-title .close:hover{
	background-color: #fff;
}
.login-form{
	width: 268px;
	padding: 10px 36px;
}
.login-form .form-control{
	width: 246px;
}
.login_box{
	display: block;
	float: right;
	width: 122px;
	height: 68px;
	text-align: right;
	font-size: 12px;
	color: #fff;
}
.login_box a{
	line-height: 68px;
	font-size: 13px;
	color: #fff;
}
.register,
.voucher_box{
	width: 661px;
	margin-left: -330px;
}
.register .login-title{
	margin-bottom: 46px;
}
.register_user,
.register_driver{
	width: 330px;
	text-align: center;
}
.register_driver{
	border-left: 1px #e2e2e2 solid;
}
.register_driver a{
	display: inline-block;
}
.register_user h3,
.register_driver h3{
	padding-top: 5px;
	padding-bottom: 5px;
}
.register .fa{
	font-size: 38px;
	display: inline-block;
	width: 68px;
	height: 68px;
	line-height: 68px;
	background-color: #fb5358;
	color: #fff;
	border-radius: 50%;
}
.register .fa-automobile{
	background-color: #4bb2fc;
}
.register .btn{
	margin-top: 16px;
}
.register .btn-blue{
	background-color: #4bb2fc;
	color:#fff;
}
.alert_title{
	height: 46px;
	line-height: 46px;
	padding-left: 16px;
}
.drop{
	position: relative;
	z-index: 96
}
.drop:hover{
	background-color: #d9252a;
}

.menu_down{
	display: none;
	width: 100%;
	background-color: #fff;
	border: 1px #fb5358 solid;
	position: absolute;
	z-index: 90;
	top: 67px;
	right: 0;
	z-index: 399;
	box-shadow: 0 0 20px rgba(160,160,160,.2);
}
.menu_down a{
	line-height: 38px;
	padding-left: 10px;
	text-align: left;
	display: block;
	font-size: 13px;
	color: #555
}
li.drop a{
	text-align: center;
	padding-left: 0;
}
.menu_down a:hover{
	color: #555;
	background-color: #f0eeee
}
a#user_head{
	display: block;
	position: relative;
	height: 68px;
}
.min_pop{
	display: inline-block;
	line-height: 15px;
	padding-left: 4px;
	padding-right: 4px;
	margin-left: 3px;
	text-align: center;
	color: #fff;
	background-color: #fb5358;
	font-size: 12px;
	border-radius: 20px;
}

.adv_full{
	width: 100%;
	height: 420px;
}

.main{
	width: 980px;
	min-height: 560px;
	display: block;
	margin: 10px auto;
}
.main ul{
	margin: 0 -12px;
}
.main ul li{
	display: block;
	width: 478px;
	margin: 12px;
	float: left;
	color: #555;
	position: relative;
	top: 0;
	transition: opacity .25s linear;
	}

.main ul li  .info{
	padding: 0 12px;
	height: 45px;
	line-height: 45px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
}
.main ul li .price{
	float: right;
	text-align: right;
	font-size: 18px;
	color: #fb5358;
}
.main ul li .price span{
	font-size: 12px;
	color: #888;
}
.photo_holder{
	width: 478px;
	height: 269px;
	background: #f2f2f2;
	overflow: hidden;
}
.photo_holder img{
	width: 100%
}
/****footer****/
.footer_full_top{
	width: 100%;
	margin-top: 20px;
	background: #333;
}
.footer_full_top .footer{
	width: 1110px;
	height: 180px;
	padding-top: 36px;
	margin: 0 auto;
}
.footer_full_top .footer .logo{
	width: 220px;
	padding-top: 56px;
	margin-left: 16px;
	float: left;
	color: #959595;
	background: url(/Theme/Public/images/footer_logo.png) no-repeat;
}
.footer_full_top .footer .logo p{
	margin: 0;
	font-family: Century Gothic,Microsoft Yahei;
	font-size: 26px;
}
.footer_full_top .footer .logo span{
	font-size: 13px;
}

.footer_full_top .footer .help{
	width: 820px;
	float: right;
	padding-right: 20px;
}
.footer_full_top .footer .help ul{
	position: relative;
	float: right;
	margin-left: 38px;
	padding-left: 66px;
	color: #959595;
	border-left: 1px #2d2d2d solid;
}
.footer_full_top .footer .help ul p{
	position: absolute;
	top: 0;
	left: 16px;
	margin: 0;
	font-size: 22px;
}
.footer_full_top .footer .help ul li a,.footer_full_bottom a{
	color: #7d7777;
	font-size: 13px;
	line-height: 22px;
}
.footer_full_top .footer .help ul li a:hover,.footer_full_bottom a:hover{
	color: #959595;
}
.footer_full_bottom{
	width: 100%;
	padding: 16px 0;
	background: #222;
	text-align: center;
	font-size: 13px;
}
.footer_full_bottom p{
	margin: 5px;
}
/****下拉箭头****/
.arrow-down{
	width: 12px;
	height: 12px;
	display: inline-block;
	background: url(/Theme/Public/images/arrow-down-top.png) no-repeat center center;
}
.arrow-down-black{
	width: 12px;
	height: 12px;
	display: inline-block;
	background: url(/Theme/Public/images/arrow-down.png) no-repeat center center;
}

/*下拉框 */
.mod-dropdownlist {
    display: inline-block;
    height: 38px;
    vertical-align: middle;
}
.mod-dropdownlist .dropdown-select {
    /*background: url(/Theme/Public/images/gray.jpg) repeat-x;*/
    border: 1px solid #e2e2e2;
    color: #666;
    cursor: default;
    display: inline-block;
    *display: inline;
    height: 36px;
    line-height: 36px;
    overflow: hidden;
    *zoom: 1;
    -webkit-user-select:none;
    -moz-user-select:none;
    -o-user-select:none;
    -ms-user-select:none;
    user-select:none;
    font-size: 14px;
    border-radius: 2px;
}
.mod-dropdownlist .dropdown-select:visited,
.mod-dropdownlist .dropdown-select:hover,
.mod-dropdownlist .dropdown-select:active {
    cursor: pointer;
}
.mod-dropdownlist .dropdown-select .dropdown-input {
    padding: 0 10px;
    zoom: 1;
    overflow: hidden;
    font-size: 14px;
    line-height: 36px;
    float: left;
    height: 36px;
    background: #fff;
    text-align: left;
}
.mod-dropdownlist .dropdown-select .dropdown-icon, .select .dropdown-icon{
    background: transparent url(/Theme/Public/images/arrow-down.png) center center no-repeat;
    width: 40px;
    padding: 0 0;
    zoom: 1;
    font-size: 14px;
    line-height: 36px;
    float: left;
    height: 36px;
}
.mod-dropdownlist .dropdown-list {
    background: #fff;
    border: 1px solid #d9d9d9;
    display: block;
    overflow: hidden;
    padding:0;
}
.mod-dropdownlist .dropdown-options {
    background: #fff;
    display: block;
    overflow: hidden;
    overflow-y: auto;
    padding:0;
    margin: 0;
}
.mod-dropdownlist .dropdown-options li {
    margin: 0;
    padding: 0;
}
.mod-dropdownlist .dropdown-options li a {
    color: #999;
    cursor: pointer;
    display: block;
    padding: 0 10px;
    white-space: nowrap;
    font-size: 14px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -o-user-select:none;
    -ms-user-select:none;
    user-select:none;
    text-align: left;
}
.mod-dropdownlist .dropdown-options li a:hover {
    background-color: #eee;
    color: #666;
}
.mod-dropdownlist .dropdown-options li.dropdown-options-focus a,
.mod-dropdownlist .dropdown-options li.dropdown-options-focus a:hover{
    background-color: #eb282e;
    color:#fff;
}
.mod-dropdownlist .dropdown-list .dropdown-custombox {
    border-top: 1px solid #e2e2e2;
}


/***退出按钮***/
#login_out{
	border-top: 1px #e2e2e2 solid;
}
/***分页样式***/
.page{
	padding: 16px 20px;
	overflow: hidden;
	text-align: center;
}
.page a:hover{
	background: #fff;
	color: #fb5358
}
.page span.current{
	background: #fb5358;
	color: #fff;
	border-color: #fb5358
}
.page a,.page span{
	padding: 8px 15px;
	font-size: 14px;
	margin-left: -1px;
	background: #f7fafa;
	border: 1px #e2e2e2 solid;
	line-height: 1;
	transition: background .25s linear,color .25s linear;
}
/***日期样式***/
#date{
	display: block;
	font-size: 16px;
	line-height: 20px;
	border-radius: 2px;
	color: #555;
	box-shadow: inset 1px 1px 3px #f5f5f5;
	cursor: pointer;
}

/**侧栏****/
.side_panel{
	position: fixed;
	right: -238px;
	top: 0;
	width: 238px;
	height: 100%;
	background: #fff;
	z-index: 66
}
.sidebar{
	width: 36px;
	height: 100%;
	background: #f7fafa;
	border-left: 1px #e2e2e2 solid;
	border-right: 1px #e2e2e2 solid;
}
.sidebar .mbar{
	position: absolute;
	top: 50%;
	left: 1px;
	width: 36px;
	height: 234px;
	margin-top: -182px;
	border-top: 1px #f0eeee solid
}
.mbar .icon,.bbar .icon{
	display: block;
	position: relative;
	width: 36px;
	height: 36px;
	border-bottom: 1px #f0eeee solid;
	background: url(/Theme/Public/images/mbar.png) no-repeat;
	cursor: pointer;
	transition: background-color .25s ease;
}
.mbar .icon:hover,.bbar .icon:hover{
	background-color: #f0eeee
}
.bbar{
	position: absolute;
	left: 1px;
	bottom: 60px;
	border-top: 1px #f0eeee solid;
}
.icon.to_top{
	background-position: -72px 0 
}
.icon.to_top:hover{
	background-position: -108px 0
}
.icon.show_support{
	padding-top: 42px;
	height: 42px;
	background-position: 0 6px;
}
.icon.show_support:hover{
	background-position: -36px 6px;
}
.show_demand{
	display: block;
	height: auto;
    background-position-x: -239px;
    padding: 10px 0;
    background-color: #fb5358;
    text-align: center;
    font-size: 12px;
    color: #fff;
}
.show_demand:hover{
	color: #fff;
}
.show_demand .fa{
	display: block;
	font-size: 22px;
}
.show_cars{
	width: 36px;
	height: 100px;
	padding-top: 32px;
	border-bottom: 1px #f0eeee solid;
	background-image: url(/Theme/Public/images/mbar.png);
	background-position: -144px 0;
	background-repeat: no-repeat;
	cursor: pointer;
	transition: background-color .25s ease,color .25s ease;
}
.show_cars:hover,.show_cars.hover{
	color: #fff;
	background-color: #fb5358;
	background-position: -180px 0
}
.show_cars #my_cars_count_show{
	display: block;
	width: 20px;
	height: 20px;
	margin: 3px auto;
	background: #fb5358;
	color: #fff;
	font: 13px/20px microsoft yahei;
	text-align: center;
	border-radius: 20px;
}
.icon_text{
	font-size: 13px;
	width: 13px;
	display: block;
	margin: 0 auto;
}
.mtip{
	display: none;
	opacity: 0;
	position: absolute;
	top: 0;
	right: 74px;
	font-size: 14px;
	background-color: #fb5358;
	color: #fff;
	text-align: center;
	line-height: 36px;
	z-index: 98;
}
.to_top .mtip{
	width: 78px;
}
.icon .mtip .arrow{
	position: absolute;
	top: 0;
	right: -8px;
	font-size: 18px;
	color: #fb5358;
	font-family: simsun
}
.support{
	display: none;
	position: absolute;
	top: 0;
	right: 36px;
	background-color: #fff;
	border: 1px #e2e2e2 solid;
	cursor: default;
	color: #555;
	text-align: center;
	box-shadow: 0 0 8px rgba(38,38,38,.1);
}
.support_title{
	position: relative;
	height: 28px;
	line-height: 28px;
	padding: 0 12px;
	color: #666;
	font-size: 14px;
	background-color: #f7fafa;
	border-bottom: 1px #f0eeee solid;
	text-align: left;
}
.support_close{
	position: absolute;
	top: 0;
	right: 0;
	width: 28px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	font-size: 18px;
	cursor: pointer;
}
.support_close:hover{
	color: #fb5358;
}
.mbar_call{
	width: 148px;
	padding: 12px 5px;
	font-size: 12px;
	border-bottom: 1px #f0eeee solid;
}
.mbar_call_icon{
	padding-left: 16px;
	line-height: 1;
	background: url(/Theme/Public/images/mbar.png) -335px center no-repeat;
}
.mbar_qq{
	display: block;
	height: 28px;
	line-height: 28px;
	margin: 10px 12px;
	border: 1px #e2e2e2 solid;
	background-color: #f7fafa;
	border-radius: 2px;
}
.mbar_qq:hover{
	color: #fb5358
}
.mbar_qq img{
	position: relative;
	top: 3px;
	left: 0; 
}
.mbar_weixin{
	padding-top: 102px;
	margin-top: 10px;
	height: 32px;
	font-size: 14px;
	background: url(/Theme/Public/images/wxqcode.jpg) center top no-repeat;
}
/********已选择的车********/
.my_car{
	width: 200px;
	height: 100%;
	color: #555;
	position: absolute;
	top: 0;
	left: 38px
}
.my_car_title{
	height: 30px;
	font-size: 15px;
	line-height: 30px;
	color: #555;
	text-align: center;
	background: #f7fafa;
	border-bottom: 1px #f0eeee solid
}
.my_car ul li{
	display: block;
	padding: 5px 10px 8px;
	position: relative;
	overflow: hidden;
	background: #fff;
	border-bottom: 1px #f0eeee solid
}
.my_car ul li .name{
	font-size: 14px;
	margin-bottom: 3px;
}
.my_car ul li .name span{
	margin-left: 6px;
	padding: 0 2px;
}
.my_car ul li .name span.hcar{
	color: #fff;
	background: #fb5358
}
.my_car ul li .name span.not_hcar{
	color: #888;
	background: #f0eeee
}
.my_car ul li .face{
	display: block;
	float: left;
	margin-right: 5px;
}
.my_car ul li img{
	display: block;
	width: 64px;
	height: 36px;
}
.my_car ul li p{
	font-size: 12px;
	margin: 0;
	line-height: 18px
}
.my_car ul li i.red{
	color: #fb5358;
}
.my_car ul li .delete {
	width: 18px;
	display: block;
	height: 18px;
	position: absolute;
	top: 35px;
	right: 8px;
	color: #aaa;
	font-size: 16px;
	border: 1px #f0eeee solid;
	line-height: 18px;
}
.my_car ul li .delete:hover{
	color: #fb5358
}
.my_car .pay{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background: #fff;
	overflow: hidden;
}
.my_car .pay .pay_cont{
	padding: 10px
}
.my_car .pay p{
	margin: 3px 0;
	font-size: 12px;
	overflow: hidden
}
.my_car .pay p i.red{
	color: #fb5358;
}
#account{
	margin-top: 10px
}
.empty{
	width: 240px;
	height: 240px;
	line-height: 240px;
	margin: 100px auto;
	background-color: #fbfbfb;
	text-align: center;
	color: #ccc;
	font-size: 16px;
	border-radius: 50%;
}
/******操作结果提示页******/
.msg_page_html{
    height: 100%;
  }
.msg_page_body{
    min-height: 100%;
    height: auto;
    padding-bottom: 322px;
    position: relative;
    box-sizing: border-box;
}
.msg_page_body .footer_cont{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.msg_page_top_full{
    background-color: #fff;
}
.msg_page_top{
    width: 856px;
    height: 40px;
    position: relative;
    padding: 24px 0 0 124px;
    margin: 0 auto;
    background: url(/Theme/Public/images/mini_logo.png) no-repeat left center;
    font-size: 18px;
}
.msg_page_cont{
    width: 980px;
    margin: 20px auto;
    background-color: #fff;
    min-height: 480px;
	line-height: 1.8;
	color: #888;
}
.msg_page_cont ul,.msg_page_cont ol{
	margin-top: 10px;
}
.msg_page_main{
	padding: 75px 0 75px 210px;
}
.msg_page_title{
    font-size: 24px;
    position: relative;
}
.msg_page_title:before{
	position: absolute;
	top: 0;
	left: -68px;
	font-size: 58px;
	line-height: 43px;
	font-family: FontAwesome;
}
.msg_warn:before{
	content: "\f06a";
	color: #f4db07;
}
.msg_succeed:before{
	content: "\f05d";
	color: #9edb5d;
}
.msg_404:before{
    content: "404";
    color: #ccc;
    left: -118px;
    font-family: Microsoft Yahei;
}
.msg_btn_holder .btn{
	display: inline-block;
	padding: 0 12px;
	margin-right: 10px;
}
.msg_page_footer{
	margin: 20px;
	padding-bottom: 60px;
	border-top: 1px #e2e2e2 dashed;
}
.msg_page_footer h6{
	font-size: 14px;
	font-weight: normal;
	margin-top: 10px;
}
.msg_page_footer ol{
	padding-left: 2em;
}